body{
background-color: #D3D3D3;

}
.intro{
font-family: 'Knewave', cursive;
font-size: 60px;
text-align: center;
font color: center;
color: maroon;
}



ul{
  list-style-type:none;
  margin: 0;
padding: 0;
width: 200px;
background:maroon;
text-align: center;
font-family: 'Permanent Marker', cursive;

}
a{
display: block;
padding: 10px;
text-decoration: none;
color: #000;
align-content: flex-end;
align: right;

}
a:hover{

  background: gray;
  color:#FFF;
}
.navbar{
float:right;

}
.front{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }
