/* general styles*/
body {
  background: maroon;
}

h3 {
  font-size: 60px;
  position: inherit;
  text-align-last: center;
  font-family: 'Amatic SC', cursive;
}

p {
  font-size: 25px;
  text-align-last: center;
  font-family: 'Amatic SC', cursive;
  font-family: 'Domine', serif;
}

.sports-text{
  color: white;
}

h5 {
  font-size: 50px;
  color: maroon;
  border-style: solid;
}

/* Navigation styles */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  background-color: black;
}

a {
  padding: 10px;
  text-decoration: none;
  color: black;
  align-content: flex-end;
  align: right;
}

.btn-group-vertical {
  width: 40%;
}

.btn-group {
  width: 100%;
}

/* Title Styles*/
h1 {
  font-size: 400%;
  text-align-last: center;
  color: white;
  font-family: 'Nanum Myeongjo', serif;
}

.front {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.img-fluid {
  width: 300%;
}

/*Events Page*/
.calendarcontainer {
  width: 100%;
  position: absolute;
  left: 20%;
  margin-bottom: auto;
}

.calendar {
  width: 60%;
  align-content: center;
}

/* Styles for Contact Page*/
.jumbotron {
  background-color: maroon;
  height: 10px;
}
/* Styles for Graduation page*/
.graduationinfo{
font-size: 34px;
align-content: center;
color: white;

}
h2{
  font-size: 30px;
  text-align-last: center;

}

.footer{
  position:absolute;
    bottom:0;
    width:100%;
    height:30px;   /* Height of the footer */
    background:#6cf;
    margin-top: 100px;

}

.table{
  height: 100%;
}
