body{
background-color: #D3D3D3;
}
.intro
{
font-family: 'Knewave', cursive;
font-size: 50px;
text-align: center;
text-color: red;}


ul{
  list-style-type:none;
  margin: 0;
padding: 0;
width: 200px;
background:maroon;
text-align: center;
font-family: 'Permanent Marker', cursive;
}
a{
display: block;
padding: 10px;
text-decoration: none;
color: #000;

}
a:hover{

  background: gray;
  color:#FFF;
}
